html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Стили для информационной панели */
.user-info-bar {
    font-size: 0.85rem; /* Уменьшенный шрифт */
    height: 30px; /* Фиксированная высота */
    display: flex;
    align-items: center; /* Вертикальное центрирование */
}

.user-info-items {
    display: flex;
    justify-content: center; /* Горизонтальное центрирование */
    flex-wrap: wrap;
    gap: 20px; /* Расстояние между элементами */
    width: 100%;
}

.user-info-item {
    white-space: nowrap;
}

.clickable-row:hover {
    background-color: #f8f9fa;
}

/* Уберите подчеркивание у ссылок внутри таблицы */
.table a {
    text-decoration: none;
    color: inherit;
}

.auto-resize {
    overflow-y: hidden; /* Скрываем вертикальный скролл */
    resize: none; /* Отключаем ручное изменение размера */
    transition: height 0.2s ease; /* Плавное изменение высоты */
}

    /* Эффект при наведении на ячейку */
.table td:not(.no-click):hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    z-index: -1;
}

.table td:not(.no-click) {
    position: relative;
}

/* Адаптивность для мобильных */
@media (max-width: 768px) {
    .user-info-bar {
        height: 40px; /* Фиксированная высота */
    }

    .user-info-items {
        gap: 0 20px;
        justify-content: center;
        overflow-x: auto;
        scrollbar-width: none; /* Скрыть скроллбар в Firefox */
    }

        .user-info-items::-webkit-scrollbar {
            display: none; /* Скрыть скроллбар в Chrome/Safari */
        }

    .article-card {
        margin-bottom: 2rem;
    }

    .tag-badge {
        margin-right: 0.5rem;
    }

    .comment {
        margin-left: 1.5rem;
        padding: 0.5rem;
        border-left: 2px solid #dee2e6;
        border-bottom: 2px solid #dee2e6;
    }

    .action-icon {
        margin-left: 0.5rem;
    }
}