@{
    var controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
    var buttonText = controllerName == "Register" ? "Авторизоваться" : "Зарегистрироваться";
    var formController = controllerName == "Register" ? "Home" : "Register";
    var formAction = controllerName == "Register" ? "Index" : "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogProject.Web.styles.css" asp-append-version="true" />
    @Html.AntiForgeryToken()

</head>
<body class="d-flex flex-column min-vh-100">
<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom mb-3 bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" style="background-color:#f0f0f0; padding: 5px 10px;" asp-area="" asp-controller="Home" asp-action="Index">Персональный блог</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                        <form asp-controller="@formController" asp-action="@formAction">
                        <button type="submit" class="nav-link text-primary btn btn-link border-0 p-0">
                            @buttonText
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="flex-grow-1 pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted mt-auto">
    <div class="container">
        © 2025 - Персональный блог
    </div>

</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>