@model (List<ArticleViewModel> Articles, bool HasMore, int LastPage)
@using BlogProject.Core.Models.ViewModels

@{
    ViewData["Title"] = "Статьи автора";
    var userId = Context.Request.Query["userId"].FirstOrDefault();
    var currentPage = int.Parse(Context.Request.Query["page"].FirstOrDefault() ?? "1");
}

<div class="container mt-5">
    <h1 class="mb-4">Статьи автора</h1>

    <!-- Строка поиска -->
    <form asp-action="ArticlesByAuthor" asp-controller="AccountManager" method="get" class="mb-4">
        <div class="input-group">
            <input type="text" name="userId" class="form-control" placeholder="Введите ID автора"  />
            <button type="submit" class="btn btn-primary ms-2">Найти</button>
        </div>
    </form>
    
    @if (Model.Articles?.Any() != true)
    {
        <div class="alert alert-info" role="alert">
            Статей пока нет.
        </div>
    }
    else
    {
        <partial name="_ArticlesPartial" model="Model"/>
    }
   
</div>

@section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
}