@model (List<ArticleViewModel> Articles, bool HasMore)
@using BlogProject.Core.Models.ViewModels

@{
    ViewData["Title"] = "Персональный блог - Статьи";
}

<div class="container mt-5">
    <h1 class="mb-4">Статьи</h1>
    <partial name="_ArticlesPartial" model="Model" />
</div>

@section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
}